#alerta{
 background-color: red;
 color: white;
 font-size: 20px;
 border-radius: 15px;
}

.ceulimpo{
    background-color: rgb(120, 146,193);
    font-size: 20px;
}
.nublado{
    background-color: rgb(15, 15,67);
    color: white;
}
#cores{
    height: 300px;
    width: 200px;
}

.verde{
    background-color: green;
}
.vermelho{
    background-color: red;
}

.azul{
    background-color: rgb(92, 92, 226);
}
#listaCarros, th, td{
   border: 1px solid black;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(139, 150, 241);
}

#titulo{
    text-align: center;
}
tr th{
    background-color: rgb(75, 72, 235);
}

button{
    background-color: rgb(161, 64, 226);
    color: white;
}